<div class="header">
    <div class="inner_header">
        <div class="logo_container"><h1>Bolster<span>Blog</span></h1></div>
            <div>
                <ul class="nav">
                    <a href="/">Home</a>
                <% if (user) { %>
                    <a href="/articles/logout">Log out</a>
                <% } else { %>
                    <a href="/articles/login">Log in</a>  
                <% } %>
                </ul>
        
            </div>
        
    </div>
</div>
<br><br><br><br>